<!DOCTYPE html>
<html>
    {% include head.html %}
  <body id="home">
    {% include home-header.html  %}
  <section class="columns is-marginless logo">
  <!-- left col -->
    <div class="column is-one-half main">
      <img src="/images/mc-logo-purple.png" class="logo-image">
     {% include mc-form.html  %}
     {% assign events = (site.events | sort: 'date') | reverse %}
     {% for event in events limit:1 %}
     <div id="next-event">
      <h3><em>Next Event: {{ event.date | date: "%a, %b %d "}}</em></h3>
      <h3>
        <a href="{{event.url}}">{{ event.title }}</a> 
      </h3>
        {% if event.eventbrite  %}
          {% include eb-button.html eb-id=event.eventbrite  %}
        {% endif  %}
      </h3>
      <br>
    </div>
     {% endfor  %}
  </div>
<!-- right col -->
  <div class="column callout is-one-half" style="background-color: pink;">      
    <h1 class="title">{{ page.title }}</h1>
    <h2> {{page.subtitle}} </h2>
    <hr>
    <br>
       {{content | markdownify}}
  </div>

</section>
    <!-- end hero -->
    <section class="columns is-marginless">
        <div class="column is-one-half">
        </div>
        <div class="column is-one-half">
        </div>
    </section>
  </body>
</html>
